.spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto
}

.postImg {
    width: 20vw;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.boardHeader {
    padding: 2rem;
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}

.boardTitle {
    display: inline-block;
    margin: 0;
}

.boardClose {
    display: block;
    float: right;
}

.grid {
    display: grid;
    justify-content: center;
}
